<%- include('templates/header') %>

<h1 class="page-header-big">You might also like</h1>

<div class="gridViewContainer">
    <% albums.forEach(album => { %>
    <div class="gridViewItem">
        <a href="/album?id=<%= album.id %>">
            <img src="<%= album.artworkPath	 %>" alt="<%= album.title %>">

            <div class="gridViewInfo">
                <%= album.title %>

            </div>
        </a>
    </div>
    <% }); %>
</div>

<%- include('templates/footer') %>