<% if(!isAjaxRequest) { %>
<!-- If the page is via AJAX then avoid loading header & footer coz, it will load the header, footer twice -->
<%- include('templates/header', {loggedInUser: loggedInUser}) %>
<% } %>

<div id="mobile-intro-logo">
    <img src="/images/expressmusicX grey.png" alt="=ExpressmusicX Logo">
</div>

<h1 class="page-header-big">You might also like</h1>

<div class="gridViewContainer">
    <% albums.forEach(album => { %>
    <div class="gridViewItem">
        <span onclick="openPage('/album?id=<%= album.id %>')" role="link" tabindex="0">
            <img src="<%= album.artworkPath	 %>" alt="<%= album.title %>">

            <div class="gridViewInfo">
                <%= album.title %>
            </div>
        </span>
    </div>
    <% }); %>
</div>

<% if(!isAjaxRequest) { %>
<%- include('templates/footer') %>
<% } %>