<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>
		<%= title %>
	</title>

	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/images/favicon/site.webmanifest">
	<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#000000">
	<meta name="theme-color" content="#ffffff">

	<meta name="description"
		content="ExpressMusicX - Simple Spotify Clone Built Using NodeJS, Express, MySQL, Javascript" />

	<meta property="og:image" content="https://express-music-x.herokuapp.com/images/ExpressMusicX-Pranav-Shinde.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="500">
	<meta property="og:image:height" content="500">
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://express-music-x.herokuapp.com/" />
	<meta property="og:title" content="ExpressMusicX" />
	<meta property="og:description"
		content="ExpressMusicX - Simple Spotify Clone Built Using NodeJS, Express, MySQL, Javascript" />

	<link rel="stylesheet" href="/css/register.css" />

</head>

<body>
	<% if(typeof src !=='undefined' ) { %>

		<% if(src==='reg' ) { %>
			<script>
				document.addEventListener('DOMContentLoaded', function () {
					showRegister();
				}, false);
			</script>

			<% } else if(src==='login' ) { %>
				<script>
					document.addEventListener('DOMContentLoaded', function () {
						showLogin();
					}, false);
				</script>

				<% } else { %>
					<script>
						document.addEventListener('DOMContentLoaded', function () {
							showLogin();
						}, false);
					</script>
					<% }%>

						<% }%>
							<div id="background">
								<div class="register-logo">
									<img src="/images/expressmusicX grey.png" alt="ExpressMusicX Logo">
								</div>
								<!-- <h1 id="title">ExpressMusic<span>X</span></h1> -->
								<div id="login-container">
									<div id="inputContainer">
										<form action="/login" id="loginForm" method="POST">
											<h2>Login to your account</h2>
											<span class="dummy">Use this dummy login already created for you</span>
											<p>
												<% if(typeof errorsObj !=='undefined' ) { %>
													<%- errorsObj.getError('loginIssue') %>
														<% } %>
															<label for="loginUsername">Username* </label>
															<input type="text" id="loginUsername" name="loginUsername"
																placeholder="eg. pranav" value="pranav"
																required />
											</p>
											<p>
												<label for="loginPassword">Password* </label>
												<input type="password" id="loginPassword" name="loginPassword"
													placeholder="Your password*" required value="12345678" />
											</p>

											<button type="submit" name="loginButton">Login</button>

											<div class="hasAccountText">
												<a href="#"><span id="hideLogin">Don't have an account yet? Signup
														here</span></a>
											</div>
										</form>

										<form action="/register" id="registerForm" method="POST">
											<h2>Create your free account</h2>
											<p>
												<% if(typeof errorsObj !=='undefined' ) { %>
													<%- errorsObj.getError('userName') %>
														<%- errorsObj.getError('userNameExists') %>
															<% } %>
																<label for="username">Username* </label>
																<input type="text" id="username" name="username"
																	placeholder="eg. pranav"
																	value="<%=formData.userName%>" required />
											</p>

											<p>
												<% if(typeof errorsObj !=='undefined' ) { %>
													<%- errorsObj.getError('firstName') %>
														<% } %>
															<label for="firstName">First name* </label>
															<input type="text" id="firstName" name="firstName"
																placeholder="eg. Pranav" value="<%=formData.firstName%>"
																required />
											</p>

											<p>
												<% if(typeof errorsObj !=='undefined' ) { %>
													<%- errorsObj.getError('lastName') %>
														<% } %>
															<label for="lastName">Last name* </label>
															<input type="text" id="lastName" name="lastName"
																placeholder="eg. Shinde" value="<%=formData.lastName%>"
																required />
											</p>

											<p>
												<% if(typeof errorsObj !=='undefined' ) { %>
													<%- errorsObj.getError('email') %>
														<% } %>
															<label for="email">Email* </label>
															<input type="email" id="email" name="email"
																placeholder="pranav@g.com" value="<%=formData.email%>"
																required />
											</p>

											<p>
												<% if(typeof errorsObj !=='undefined' ) { %>
													<%- errorsObj.getError('passMatch') %>
														<% } %>
															<% if(typeof errorsObj !=='undefined' ) { %>
																<%- errorsObj.getError('passLength') %>
																	<% } %>
																		<label for="password">Password* </label>
																		<input type="password" id="password"
																			name="password" placeholder="Your password*"
																			value="<%=formData.password%>" required />
											</p>
											<p>
												<% if(typeof errorsObj !=='undefined' ) { %>
													<%- errorsObj.getError('passPattern') %>
														<% } %>
															<label for="password2">Confirm Password* </label>
															<input type="password" id="password2" name="password2"
																placeholder="Re-enter password*"
																value="<%=formData.password2%>" required />
											</p>

											<button type="submit" name="registerButton">Register</button>

											<div class="hasAccountText">
												<a href="#"><span id="hideRegister">Already have an account? Login
														here</span></a>
											</div>
										</form>
									</div>

									<div id="loginText">
										<h1>Get great music, right now</h1>
										<h2>Listen to loads of songs for free</h2>
										<ul>
											<li><img src="/images/icons/checkmark.png" alt=""> Discover music you'll
												fall in love with</li>
											<li><img src="/images/icons/checkmark.png" alt=""> Create your own playlist
											</li>
											<li><img src="/images/icons/checkmark.png" alt=""> Follow artiststo keep up
												to date</li>
										</ul>
									</div>
								</div>

							</div>
							<script src="/js/register.js"></script>

</body>

</html>